

.theme-container.project-page
    .content
        max-width: 100%
        margin: 0 auto
        padding: 0
        a:hover
            text-decoration: none
    .project-page-content
        max-width: 740px
        margin: 0 auto 
        padding: 1rem
        @media $lg
            padding: 1rem 3rem
        @media $md
            padding: 1rem 4rem
        @media $sm
            padding: 1rem 2rem
    .project-page-logo-wrapper
        max-width: 740px
        margin: 0 auto 
        padding: 1rem
        @media $lg
            padding: 1rem 3rem
        @media $md
            padding: 1rem 4rem
        @media $sm
            padding: 3rem 2rem 0rem

.page-edit
    display: none

.page
    padding-bottom: 0

