.headshot
  width: 200px
  height: 200px
  border-radius: 200px
  @media $md
    width: 150px
    height: 150px
    border-radius: 150px
  @media $sm
    width: 150px
    height: 150px
    border-radius: 150px
