.navbar
  display: flex
  align-items: center
  @media $md
    justify-content: center
    padding-left: 1.5rem
  @media $sm
    justify-content: center
    padding-left: 1.5rem

.site-name
  border: 2px solid $charcoal
  padding: 0 .5rem
  border-radius: 1px
