.project-article-list
  list-style: none
  padding-left: 0

.project-article-list__item
  padding: 1rem
  box-shadow: 2px 5px 15px rgba(0, 0, 0, .2)
  border-radius: 5px
  background: $white
  border: 1px solid $charcoal-light
  margin-bottom: 1rem
  a
    display: flex
    align-items: center
    justify-content: space-between
    transition: all .3s ease
    color: $charcoal
    &:hover
      text-decoration: none !important
      color: $green

.project-article-title
  margin: 0 !important 

.project-article-tagline
  margin: 0
  font-size: .8rem

.role-section
  margin-top: 4rem