.sliding-feature
  max-width: 100%
  position: relative
  overflow: hidden
  max-height: 392px

.sliding-feature__mask
  position: absolute
  bottom: 0
  right: 0

.sliding-feature__page
  width: 66.7%
  margin-top: 2rem