$black = #000
$blue = #4A90E2
$charcoal = #2c3e50
$charcoal-medium = #828689
$charcoal-light = lighten($charcoal, 75%)
$green = #3EAF7C
$white = #FFF

$card-radius = 5px
$box-shadow = 0 0 15px rgba(0, 0, 0, .2)
