@import "01-utilities/variables"
@import "01-utilities/breakpoints"

@import "03-base/base"
@import "03-base/typography"

@import "05-components/card"
@import "05-components/navbar"
@import "05-components/backgrounds"
@import "05-components/headshot"
